.bg6,
.image-111-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.bg6 {
  background-color: var(--neutral-02);
  width: 1600px;
  height: 856px;
}
.image-111-icon {
  width: 758px;
  height: 1137px;
  object-fit: cover;
}
.image,
.img {
  width: 599px;
  height: 566px;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blue-100);
  overflow: hidden;
}
.img {
  position: relative;
}
.we-provide-healthy {
  line-height: 60.5px;
  font-weight: 500;
  font-family: var(--headline-h1);
}
.at-place-we,
.our-story-began,
.we-provide-healthy {
  position: relative;
  display: inline-block;
  width: 557px;
}
.our-story-began {
  font-size: var(--body-18px-medium-size);
  line-height: 28px;
  font-weight: 500;
}
.at-place-we {
  font-size: var(--body-16px-medium-size);
  line-height: 24px;
  color: var(--neutral-061);
}
.title2 {
  gap: var(--gap-5xl);
}
.content1,
.text9,
.title2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  position: absolute;
  top: 120px;
  left: 152px;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}
.about1 {
  position: relative;
  width: 100%;
  height: 856px;
  text-align: left;
  font-size: var(--headline-h2-size);
  color: var(--neutral-07);
  font-family: var(--body-16px-medium);
}
